.creator-form-container {
    display: flex;
    justify-content: center;

    padding: 2em;

    background-image: url("./assets/noise.png");
    backdrop-filter: blur(10px);
    -webkit-box-shadow: inset 0px 0px 100px -60px rgba(131,107,224,1);
    -moz-box-shadow: inset 0px 0px 100px -60px rgba(131,107,224,1);
    box-shadow: inset 0px 0px 100px -60px rgba(131,107,224,1);

    border-radius: var(--border-rad);
    border-style: solid;
    border-color: rgba(131, 107, 224, .25);
}

#creator-form {
    display: flex;
    flex-direction: column;
}

#creator-form textarea {
    font-family: inherit;
    font-size: inherit;
}

#creator-form h2 {
    margin-bottom: 0;
}

#creator-form input {
    height: 2em;
}

#creator-form input, textarea {
    background-color: #1d1d1d;
    border-radius: var(--border-rad);
    padding: .5em;
}

#creator-form label:first-child h2 {
    margin-top: 0;
    margin-bottom: .25em;
}

#creator-form p {
    margin-bottom: .5em;
}

#creator-form button {
    margin-top: 2em;
    height: 3em;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header h2 {
    margin-bottom: 0;
    text-decoration: underline;
}